.ArticleContent {
  background: #ffffff;
  width: calc(100% - 666px - 120px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 666px;
  overflow: scroll;
  padding: 80px 50px;
  padding-bottom: 50vh;
  &__intro {
    @include font-size(18px);
    line-height: 30px;
    text-align: justify;
    font-style: italic;
    margin-bottom: 50px;
  }
}
