.ArticleContent {
    background: #ffffff;
    width: calc(100% - 666px - 170px);
    height: calc(100vh - 50vh);
    position: fixed;
    top: 0;
    left: 666px;
    overflow: scroll;
    padding: 25px;
    padding-bottom: 50vh;

    
}

.scrollFocus {
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
    margin: 0 25px 100px;
    border-left: 5px #F1F1F1 solid;
    &--active {
      border-left: 5px darkorchid solid;
    }
}