.Article {
    width: calc(100% - 20px - 150px);
    height: calc(100vh - 20px);
    background: red;
    border: 5px #222 solid;
    display: flex;
    position: fixed;
    z-index: 666;
    transition: all 0.2s ease;
    &--hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    &__imgBox {
        &__img {
            width: 250px;
            height: auto;
        }
    }
    &__content {
        background: orange;
        height: 100vh;
        overflow: scroll;
        &__title {
            
        }
        &__subtitle {
        }
        &__text {
              font-size: 20px;
              line-height: 100px;  
        }
    }
}