.Article {
    width: 1100px;
    height: 1000px;
    background: red;
    position: relative;
    z-index: 666;
    transition: all 0.2s ease;
    &--hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    &__imgBox {
        &__img {
            width: 250px;
            height: auto;
        }
    }
    &__content {
        &__title {
            
        }
        &__subtitle {
        }
        &__text {
                
        }
    }
}