.Intro {
    border: 5px #777 solid;
    background: rgb(185, 213, 255);
    width: 500px;
    height: calc(100vh - 10px);
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 666;
    transition: all 0.5s ease; 
    &--hidden {
        left: -505px;
    }
    &__cta {
        border: 2px red solid;
        cursor: pointer;
    }
}
.overlay {
    content: '';
    background: rgba(0,0,0,0.75);
    width: calc(100% - 510px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 510px;
    &--hidden {
        display: none;
    }
}