.Menu {
    width: 150px;
    height: 100vh;
    background: green;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 667;
    &__nav {
        &__paintings {
            &--hidden {
                display: none;
            }
        }
        &__painting img {
            width: 150px;
            height: 150px;
        }
        
    }
}