.Painting {
    position: relative;
    h2 {
        @include font-size(36px);
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    p {
        @include font-size(22px);
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    button {
        border: 2px red solid;
        @include font-size(26px);
        position: absolute;
        top: 500px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}