.Menu {
    width: 120px;
    height: calc(100vh - 10px);
    background: green;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: all 0.2s ease;
    &--hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    &__nav {
        
        
    }
}