.Menu {
    width: 150px;
    height: calc(100vh - 10px);
    background: green;
    border: 5px #444 solid;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 667;
    overflow: hidden;
    transition: all 0.2s ease;
    &--hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    &__nav {
        &__toggleSound {
            font-size: 72px;
        }
        &__paintings {
            &--hidden {
                display: none;
            }
        }
        &__painting {
            position: relative;
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
        }
        
    }
}