.Article {
    width: calc(100% - 20px - 150px);
    height: calc(100vh - 20px);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    transition: all 0.2s ease;
    &--hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    &__intro {
        font-size: 24px;
        margin-bottom: 100px;
    }
    
}
