.Article {
    width: calc(100% - 120px);
    height: calc(100vh - 20px);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    &--hidden {
        top: 100vh;
    }
    &__intro {
        font-size: 24px;
        margin-bottom: 100px;
    }
    
}
