.DraggablePaintings {
    position: relative;
    top: 0;
    left: 0;
    width: 666px;
    height: calc(100vh - 20px);
    &__imgBox {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        &:nth-child(1) {
            z-index: 2;
        }
        &:nth-child(2) {
            z-index: 1;
          }
        &__resizable {
            position: relative;
            z-index: -1;
            width: 544px;
            &__resizer {
                width: 27px;
                height: 100%;
                position: absolute;
                top: 0px;
                right: 0px;
                cursor: col-resize;
                transition: all 0.5s ease;
                &:before {
                    content:'';
                    width: 5px;
                    height: 100%;
                    background: #fff;
                    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.59);
                    position: absolute;
                    top: 0px;
                    left: 22.5px;
                    cursor: col-resize;
                    transition: all 0.5s ease;
                }
                &:after {
                    content:'';
                    color: #000;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background: url('../assets/imgs/arrow-left-black.svg') no-repeat 22% 50% #fff;
                    background-size: 15px 15px;
                    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.59);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include font-size(12px);
                    position: absolute;
                    top: 50%;
                    right: -22px;
                    z-index: 100000;
                    transition: all 0.5s ease;
                }
                z-index: 3;
                
                &--hidden {
                    display: none;
                }
            }
        }
        &__img {
            width: 666px;
            height: 100vh;
            object-fit: cover;
            pointer-events: none;
            transition: transform 0.5s ease  0.5s, transform-origin 0.5s ease;
        }
    }
}

