body {
  font-family: "Avenir", sans-serif;

  scroll-behavior: smooth;
  letter-spacing: -0.7px;
}
.hidden {
  display: none !important;
}
.hiddenX {
  right: -120px !important;
}
.visitedIcon {
    width: 20px !important;
    height: 20px !important;
    margin: 0 0 0 20px;

  @extend %mainTransition;
  &--LittlePaintings {
    width: 25px !important;
    height: 25px !important;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    position: absolute !important;
    top: -12px;
    right: -12px;
  }
}

.scrollFocus {
  @include font-size(18px);
  line-height: 30px;
  text-align: justify;
  margin: 0 0 50px;
  padding-left: 25px;
  border-left: 2px #f1f1f1 solid;
  transition: all 0.5s ease;
  &--active {
    border-left: 5px $purple solid;
  }
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
::-webkit-scrollbar-track {
  background: #fff;
}
