body {
<<<<<<< HEAD
  font-family: 'Open Sans', sans-serif;
=======
  font-family: "Avenir", sans-serif;
>>>>>>> 40f5b52aa7296ac6304a99001878c5819420e012

  scroll-behavior: smooth;
  letter-spacing: -0.7px;
}
.hidden {
  display: none !important;
}
.hiddenX {
  right: -120px !important;
}
.visitedIcon {
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  bottom: 25px;
  right: 25px;
  @extend %mainTransition;
  &--LittlePaintings {
    top: -12px;
    right: -12px;
  }
}

.scrollFocus {
  @include font-size(18px);
  line-height: 40px;
  text-align: justify;
  margin: 0 0 50px;
  padding-left: 10px;
<<<<<<< HEAD
  border-left: 5px #F1F1F1 solid;
=======
  border-left: 5px #f1f1f1 solid;
>>>>>>> 40f5b52aa7296ac6304a99001878c5819420e012
  border-radius: 5px;
  @extend %mainTransition;
  &--active {
    border-left: 5px darkorchid solid;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #666;
}
::-webkit-scrollbar-thumb:hover {
  background: $purple;
}
::-webkit-scrollbar-track {
  background: #fff;
}
