// ==============================================
// GLOBAL VARIABLES
// ==============================================

// colors - rgba - linear-gradients
$purple: #4110c2;
$lightPurple: rgba(152, 125, 221, 0.08);
$grey: #979797;
$lightGrey: #ebe9f0;

// font-family

// responsive breakpoints -----------------------
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xLarge: 1200px;

