// ==============================================
// GLOBAL VARIABLES
// ==============================================

// colors - rgba - linear-gradients
$mainBackground: #1a0000;
$mainColor: rgb(255, 251, 244);

// font-family
$mainFont: 'Allerta Stencil', sans-serif;

// responsive breakpoints -----------------------
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xLarge: 1200px;

