.Intro {
  background: #4110c2;
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: fixed;
  padding: 150px 40px 100px 68px;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s ease;
  &--hidden {
    left: -505px;
  }
  &__title {
    width: 193px;
    height: 68px;
    font-family: Avenir;
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 43px;
  }
  &__desc {
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: 5%;
    }
  }
  &__descContainer {
    margin-bottom: 100px;
  }
  &__cta {
    width: 250px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 32px;
    text-decoration: none;
  }
}
.overlay {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: calc(100% - 500px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 500px;
  &--hidden {
    display: none;
  }
}
