.Intro {
  background: #4110c2;
  width: 500px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666;
  margin: 0 auto;
  transition: all 0.5s ease;
  &--hidden {
    left: -505px;
  }
  &__container {
    width: 75%;
    margin: 0 auto;
  }
  &__title {
    margin-top: 150px;
    margin-bottom: 43px;
    width: 193px;
    height: 68px;
    font-family: Avenir;
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #ffffff;
  }
  &__desc {
    margin-bottom: 10%;

    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
  }
  &__cta {
    margin-top: 5%;
    background-color: #ffffff;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 30px;
    text-decoration: none;
  }
}
.overlay {
  content: "";
  background: rgba(0, 0, 0, 0.75);
  width: calc(100% - 500px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 500px;
  &--hidden {
    display: none;
  }
}
