.Intro {
    background: $purple;
    border-right: 2px solid #fff;
    width: 500px;
    height: 100vh;
    padding: 150px 68px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    @extend %mainTransition;
    &--hidden {
        left: -505px;
    }
    h1 {
        color: #fff;
        margin-bottom: 43px;
        width: 193px;
        height: 68px;
        font-family: Avenir;
        @include font-size(50px);
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: normal;
    }
    p {
        color: #fff;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.2;
        &:not(:last-child) {
            margin-bottom: 5%;
        }
    }
    div {
        margin-bottom: 100px;
    }
    button {
        background: #fff;
        color: #000;
        border: 1px solid #fff;
        width: 250px;
        border-radius: 8px;
        padding: 14px 32px;
        display: inline-block;
        @include font-size(14px);
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
    }
}

.Overlay {
    background: rgba(0, 0, 0, 0.5);
    width: calc(100% - 500px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 500px;
    &--hidden {
        display: none;
    }
}