.Paintings {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    z-index: 4;
    .div{
        background: red;
        &:last-child{
            background: blue;
        }
    }
};
